
// bir-1
.logo{
    position: relative;
    @media screen and (max-width: 768px){
       margin-top: -11%;
    }
    @media screen and (max-width: 414px){
        margin-top: 4%;
     }
    .birc_word{
        width: .7vw;
        position: relative;
        left: 9%;
        bottom: 76px;
        @media screen and (max-width: 1200px){
            bottom: 171px;
            width: .8vw;
        }
        @media screen and (max-width: 768px){
            bottom: -186px;
            width: 1.1vw;
        }
        @media screen and (max-width: 414px){
            display: none;
        }
    }
    .birc_logo{
        width: 15vw;
        position: relative;
        left: 12%;
        @media screen and (max-width: 768px){
            width: 26vw;
            position: relative;
            left: 5%;
        }
        @media screen and (max-width: 414px){
           width: 36vw;
           left: 3%;
         }
    }
    .word_across{
        width: 17vw;
        position: relative;
        bottom: 61px;
        right: -64%;
        @media screen and (max-width: 768px){
            width: 28vw;
            bottom: 31px;
        }
        @media screen and (max-width: 414px){
            display: none;
        }
    }
    h2{
        font-size: 18px;
        color: #0582BA;
        font-family: $font-primary;
        font-weight: 500;
        margin-top: 12%;
        @media screen and (max-width: 768px){
            text-align: center;
            line-height: 24px;
        }
        @media screen and (max-width: 414px){
            font-size: 12px;
            margin-top: 19%;
        }

    }
    .main_logo{
        display: inline-block;
        margin: 17% 33%;
        @media screen and (max-width: 1200px){
            margin: 21% 30%;
        }
        @media screen and (max-width: 414px){
            margin: 16% 18% -4% 18%;
            text-align: center;
        }
    }
}

// birc-2

.birc-2{
    text-align: center;
    margin: 5% 18%;
    margin-bottom: 14%;
    position: relative;
    @media screen and (max-width: 414px){
        margin: 5% 10%;
    }
    h2{
        margin-top: 68px;
        font-weight: 450;
        font-size: 17px;
        margin-bottom: 3px;
        &:before{
            position: absolute;
            top: 8px;
            right: 60%;
            content: '';
            background: #0582BA;
            width: 30px;
            height: 1px;
            @media screen and (max-width: 768px){
                top: 10px;
                right: 62%;
            }
            @media screen and (max-width: 414px){
                right: 69%;
                width: 20px;
            }
        }
        &:after{
            position: absolute;
            top: 8px;
            right: 37%;
            content: '';
            background: #0582BA;
            width: 30px;
            height: 1px;
            @media screen and (max-width: 768px){
                top: 11px;
                right: 32%;
            }
            @media screen and (max-width: 414px){
                top: 11px;
                right: 24%;
                width: 20px;
            }
        }
    }
    .introduction{
        font-size: 14px;
        color:lighten($brand-black,30%);
        bottom: 18%;
    }
    p{
        font-size: 13px;
        color:lighten($brand-black,80%);
        margin-bottom: 8%;
        letter-spacing: 1.2px;
        @media screen and (max-width: 414px){
            font-size: 13px;
        }

    }
    .design_concept{
        width: 40vw;
        margin: 13% 0;
        @media screen and (max-width: 768px){
            width: 58vw;
            margin: 26% 0;
        }
        @media screen and (max-width: 414px){
            width: 111vw;
            margin: 26% 0;
            position: relative;
            left: 15px;
        }
        
    }
    .logo_spcification{
        width: 44vw;
        margin: 10% 0 5% 0;
        position: relative;
        right: 10%;
        @media screen and (max-width: 768px){
            width: 75vw;
            right: 6%;
        }
    }
    .color{
        width: 23vw;
        position: relative;
        left: 14px;
        margin-top: 4%;
        @media screen and (max-width: 768px){
            width: 36vw;
            left: 14px;
            margin-top: 10%;
        }
        @media screen and (max-width: 414px){
            width: 73vw;
            margin-bottom: 24%;
        }
    }
    
}

// img.word_across2{
//     width: 16vw;
//     position: relative;
//     left: 73%;
//     bottom: 43px;
//     @media screen and (max-width: 768px){
//         width: 20vw;
//         bottom: 25px;
//     }
//     @media screen and (max-width: 414px){
//         display: none;
//     }
// }

// birc-3
.birc-3{
    background-color: #66C7D1;
    .white_word{
        width: 1vw;
        position: relative;
        left: 8%;
        @media screen and (max-width: 768px){
            width: 1.6vw;
            left: 8%;
            bottom: 84px
        }
        @media screen and (max-width: 414px){
            width: 1.7vw;
            left: 7%;
            bottom: -43px;
        }
    }
    .name_card{
        width: 27vw;
        margin: 14% 4% 18% 6%;
        @media screen and (max-width: 1500px){
            width: 40vw;
            margin: 14% -5% 18% 10%;
        }
        @media screen and (max-width: 1200px){
            margin: 9% 8% 11% 27%;
            width: 38vw;
        }
        @media screen and (max-width: 768px){
            width: 68vw;
            margin: 15% 8% 20% 14%;
        }
        @media screen and (max-width: 414px){
            margin-top: -13%;
        }
        @media screen and (max-width: 375px){
            margin-top: 1%;
        }
        @media screen and (max-width: 320px){
            margin-top: -25%;
        }
    }
    .card2{
        margin-top: -26px;
        margin-left: 28.5%;
        @media screen and (max-width: 768px){
            margin-left: 15.5%;
        }
    }
    .card1{
        margin-left: 27%;
        @media screen and (max-width: 768px){
            margin-left: 14%;
        }
    }
}


// birc-4

.birc-4{
   img{
       display: block;
       width: 62vw;
       margin: 5% auto;
       @media screen and (max-width: 768px){
        width: 83vw;
        margin: 8% auto;
        }
   } 
}

// button

.birc_btn{
    text-align: center;
    @media screen and (max-width: 414px){
        margin: 10% 0 15% 0;
    }
   .btn1{
        margin: 6% 2% 10% 2%;
        padding: 1.5% 11%;
        @media screen and (max-width: 1000px){
			padding: 2% 15%;
		}
        @media screen and (max-width: 414px){
            display: block;
            margin: 6% auto 10% auto;
            padding: 5.3% 30.7%;
        }
        @media screen and (max-width: 375px){
			padding: 5.3% 30.2%;
        }
        @media screen and (max-width: 320px){
			padding: 6% 28.7%;
		}
    }
    .btn2{
        @media screen and (max-width: 414px){
            padding: 5.3% 36%;
        }
        @media screen and (max-width: 320px){
            padding: 6% 36%;
        }
    }
}

.birc_button{
    margin: 8% 0 11% 0;
    text-align: center;
    @media screen and (max-width: 414px){
       margin: 8% 0 20% 0;
    }
    a{
        border: solid 1px #66C7D1;
        padding: 17px 64px;
        color: #66C7D1;
        border-radius: 50px;
        text-decoration: none;
        position: relative;
        bottom: -15px;
        letter-spacing: 3px;
        font-size: 14px;
        text-decoration: none;
        &:hover{
            background-color:#66C7D1;
            color: $brand-white;
            transition: all 0.5s linear;
            list-style: none;
            text-decoration: none
        }
    }
}

